body{
  margin: 0;
  padding: 0;  
}
*, *::after, *::before{
  box-sizing: border-box;
}
/* Top nav styles */
nav.top-sticky-nav{
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: #fff;
  z-index: 2;
}
nav.top-sticky-nav img.logo{
  margin-left: 1rem;
}
nav.top-sticky-nav a{
  color: #fff;
  background-color: #0957AD;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 1rem;
}
/* Form container styles */
.form-conatiner{
  min-height: 100vh;
  background-image: url("./images/lot-background-photo.webp");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: 'Lato', sans-serif;
  padding: 40px;
  padding-bottom: 200px;  
}
@media only screen and (max-width:  768px) {
  .form-conatiner{
    padding: 20px;
  }   
}
.form-conatiner .title{
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}
.form-conatiner .description{
  max-width: 850px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 20px 0;
}
/* Form input styles */
.form-conatiner form{
  display: flex;
  flex-direction: column;
  max-width: 800px;
}
.form-conatiner form input[type='text'],
.form-conatiner form input[type='number']{
  margin: 5px 0;
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: #0957AD;
}
.form-conatiner form input[type='text']:focus,
.form-conatiner form input[type='number']:focus{
  outline: none;
}
.form-conatiner form input[type='text']::placeholder ,
.form-conatiner form input[type='number']::placeholder {
  font-weight: 700;
  color: #0957AD;
}
/* Form select custom style */
.dropdown{
  width: 100%;
  position: relative;
  margin: 5px 0;
}
.select{
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:none;
  border-radius: 5px;
  padding: 15px 15px;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.9rem;
}
.select:hover{
  color: #0957AD;
}
.dropdown-list{
  position: absolute;
  list-style: none;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  top: 2rem;
  padding: 0 15px;
  /* border: 1px solid #e5e9f2; */
  z-index: 1;
  display: none;
  box-shadow: 4px 4px 15px -11px rgba(66, 68, 90, 1);
}
.dropdown-list li{
  padding: 15px 0;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
}
.dropdown-list li:first-child{
  border-bottom: 0.5px solid #e5e9f2;
}
.dropdown-list li:hover{
  color: #0957AD;
}
.dropdown-list-open{
  display: block;
}
.form-conatiner select#prefix{
  margin: 5px 0;
  width: 100%;
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}
.form-conatiner select#prefix:focus{
  outline: none;
}
.check-box-wrap{
  position: relative;
  margin: 30px 0;
  padding: 25px 25px 45px 50px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
}
.check-box-wrap .input-check-wrap{
  display: flex;
}
.check-box-wrap .input-check-wrap label{
  margin-left: 10px;
}
.check-box-wrap input[type='checkbox']{
  position: absolute;
  width:20px;
  height:20px;
  margin-left: -35px;
  margin-top: 1px;
  border-radius: 5px;
}
.check-box-wrap .contact-mail,
.check-box-wrap .data-info{
  color: #000;
}
.check-box-wrap .data-claimer{
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0.8;
  font-weight: 400;
  margin: 0;
}
.form-conatiner form input[type='submit']{
  max-width: 150px;
  padding: 15px 35px;
  font-weight: 700;
  font-size: 0.8rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #0A3479;
  cursor: pointer;
  margin-bottom: 49px;
}
.alert-wrap{
  position: relative;
  margin-bottom: 5px;
}
.alert-box{
  position: absolute;
  top: -50px;  
  background-color: #f44336;
  color: #fff;
  max-width: 250px;
  padding: 15px 15px;
  border-radius: 5px;
  
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.visible{
  visibility: visible;
  opacity: 1;
}